version: '3.9'
services:
  site:
    image: docker.theschoonover.net/theschoonover/site:release_latest
    restart: unless-stopped
    environment:
      NODE_ENV: production
      SITE_URL: https://theschoonover.net
    ports:
      - '8080:8080'
    volumes:
      - ./nginx/site.conf:/etc/nginx/conf.d/default.conf:ro
    labels:
      - 'com.centurylinklabs.watchtower.enable=true'
      - 'com.centurylinklabs.watchtower.scope=site'
      - 'com.centurylinklabs.watchtower.stop-signal=SIGHUP'

  site_main_preview:
    image: docker.theschoonover.net/theschoonover/site:main_latest
    restart: unless-stopped
    environment:
      NODE_ENV: production
      SITE_URL: http://localhost:8079
    ports:
      - '8079:8080'
    volumes:
      - ./nginx/site_preview.conf:/etc/nginx/conf.d/default.conf:ro
    labels:
      - 'com.centurylinklabs.watchtower.enable=true'
      - 'com.centurylinklabs.watchtower.scope=site'
      - 'com.centurylinklabs.watchtower.stop-signal=SIGHUP'
  watchtower:
    image: containrrr/watchtower:1.7.1
    restart: unless-stopped
    environment:
      WATCHTOWER_LABEL_ENABLE: 'true'
      WATCHTOWER_POLL_INTERVAL: '300'
      WATCHTOWER_CLEANUP: 'true'
      DOCKER_CONFIG: /config
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./watchtower-config:/config:ro
    command: --scope site --include-restarting --revive-stopped
